name: Scrape Data
on:
    workflow_dispatch:
    schedule:
      # https://crontab.cronhub.io/
      - cron: "*/15 14-23 7-8 3 *" # Week 2
jobs:
    scrape:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: actions/setup-python@v5
            - name: Install Dependencies
              run: |
                pip install -r requirements.txt
                pip install -r requirements-dev.txt
            - name: Scrape Scouting Data
              run: python download_external_data.py
              env:
                TBA_API_KEY: ${{ secrets.TBA_API_KEY }}
            - name: Set current date as env variable
              run: echo "NOW=$(date +'%Y-%m-%dT%H:%M:%S')" >> $GITHUB_ENV
            - name: Commit changes
              if: ${{ success() }}
              uses: EndBug/add-and-commit@v9
              with:
                  message: "Scrape Scouting Data at ${{ env.NOW }}"
                  default_author: github_actor